language: python
python:
  - 2.6
  - 2.7
  - 3.1
  - 3.2
  - 3.3
  - 3.4
install: 
  - pip install -r requirements.txt
  - pip install coveralls
script: 
  nosetests --with-coverage --cover-package=sftpsync
after_success: 
  coveralls
